/*.nav-link{
    width: 110px;
    text-decoration: none;
    color: #fff;
    border-radius: 16px;
}
.nav-link:hover{
    border-bottom: 1px solid #63f163;
}
.botton{
    border-bottom: 1px solid #63f163;
}*/

img.rounded-circle{
    width: 45px;
    height: 45px;
}
/*img {
   
    width:100px;
    height:100px;
    border-radius:50px; 
    position: relative; 
    margin: auto;
    display:block;
    
  }*/
