<div class="jumbotron mt-3">
  <h1 class="display-3">Restaurante “Denver” abre sus puertas</h1>
  <p class="lead">El lugar cuenta con más de 20 televisores para disfrutar de los partidos de fútbol, especialmente del Mundial Rusia 2018.</p>
  <img src="assets/imagenes/pagina_denver.jpg" id="lock">
  <hr class="my-4">
  <p>Un nuevo emprendimiento familiar, que busca diferenciarse de los demás, nace en Cochabamba. Se trata de Denver Restaurante, de la avenida Félix Araníbar, detrás del estadio Félix Capriles. Trae lo mejor de la gastronomía, en un ambiente decorado con cerca de una decena de televisores para disfrutar del deporte, la música y más. Su nombre hace referencia a una de las ciudades del mundo, conocida como la mayor exportadora de cerveza, producto que también encontrará en este lugar todos los días.</p>
  <img src="assets/imagenes/imadenver1.jpg" id="lock">
  <p>Una nueva alternativa para el encuentro de amigos nace en la ciudad: Denver Restaurante es un emprendimiento familiar que busca posesionarse entre los mejores restaurantes de la ciudad gracias a la oferta de su gastronomía, que ofrece un menú diverso y  su agradable ambiente.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Leer mas>></a>
  </p>
</div>

<div class="jumbotron">
    <h1 class="display-3">Reserva tu lugar "Cine Center Cochabamba"</h1>
    <p class="lead">Ahora podras reservar tus entradas y lugares sin ningun problema</p>
    <img src="assets/imagenes/logocine.jpg" id="lock">
    <hr class="my-4">
    <p>Te ofrecemos las mejores accesibilidades para que puedes compartir con tus amigos o familiares, tus peliculas a reservacion desde tu dispositivo celular, contamos con una aplicacion que podras reservar tu lugar para poder ver sin ningun problema, SEVENBITS hace que digas adios a las largas filas, para que puedas estar a gusto viendo tus peliculas favoritas</p>
    <img src="assets/imagenes/pelis.jpg" id="lock">
    <p>Una nueva alternativa para el encuentro de amigos nace en la ciudad.</p>

    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Leer mas>></a>
    </p>
  </div>