<div class="forma-contenedor">
  <div class="col-md-6 mx-auto" >
    <div class="card">
      <div class="card-body">
        <form>
          <div class="form-group">
            <h1>Sign Up</h1>
           <span class="error"></span>
          </div>

  <div id="nomAp" class="col-md-20 mx-auto mt-2">
      <div class="card-body d-flex justify-content-around">
          <div class="form-group">
            <label id="lal" class="col-form-label" for="inputNombres" >Nombres</label>
            <input type="text" class="form-control" placeholder="Nombre Completo" id="inputNombres">
          </div>
          
          <div class="form-group">
            <label id="lal" class="col-form-label" for="inputApellidos">Apellidos</label>
            <input type="text" class="form-control" placeholder="Apellido Completo" id="inputApellidos">
          </div>
       </div>
    
  </div>    
          <div class="form-group">
            <label id="lal" for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="email@example.com" class="form-control">
          </div>

          
          <div class="form-group">
            <label id="lal" for="password" >Contraseña</label>
            <input type="password" name="password" id="password" placeholder="Password"class="form-control">
          </div>

          <div class="form-group">
            <label id="lal" for="password">Repite Contraseña</label>
            <input type="password" name="password" id="password" placeholder="Repeat Password" class="form-control">
          </div>

<div id="fechaNaci" class="col-md-20 mx-auto mt-2">
      <div class="card-body d-flex justify-content-around">
          <div class="form-group">
            <label id="lal" class="col-form-label" for="inputApellidos">Fecha de Nacimiento  </label>
          </div>
          <div class="form-group">
            <input type="date" name="fecha" id="nacimiento" class="form-control">
          </div>
      </div>
</div>
          <fieldset class="form-group">
            <legend>Genero</legend>
              <div id="gen" class="col-md-10 mx-auto mt-2">
                
                    <div class="card-body d-flex justify-content-around">
                      <div class="form-check">
                        <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">Mujer</label>
                      </div>

                      <div class="form-check">
                        <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">Hombre</label>
                      </div>
                    </div>
              </div>
          </fieldset>

          <div class="form-group">
            <button type="submit" class="sign" value="Log in">Log In</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>