<div class="jumbotron mt-3">
    
    <h1 class="display-3">Restaurante Denver</h1>
    <img src="assets/imagenes/logodenver.jpg" id="lock">
    <h2 class="lead">MENU DENVER</h2>
    <hr class="my-4">
    <h3 class="lead">Entrante</h3> 
    <div id="nomAp" class="col-md-20 mx-auto mt-2">
        <div class="card-body d-flex justify-content-around">
          <div class="form-group">
          <p>Mejillones a la sal</p>
          <p>Tomate ecológico del huerto</p>
          <p>Pulpo a la brasa con pure de patatas y huevo</p>  
          </div>

          <div class="form-group">
              <p>8.95 Bs</p>
              <p>16 Bs</p>
              <p>17 Bs</p> 
          </div>
        </div>
    </div>
  
    <h3 class="lead">Plato</h3> 
    <div id="nomAp" class="col-md-20 mx-auto mt-2">
        <div class="card-body d-flex justify-content-around">
          <div class="form-group">
          <p>Pescado de la lonja de Cambrils</p>
          <p>Arroz de cigalitas</p>
          <p>Arroz de pulpitos con calamares</p>  
          </div>

          <div class="form-group">
              <p>20 Bs</p>
              <p>22 Bs</p>
              <p>24 Bs</p> 
          </div>
        </div>
    </div>

    <h3 class="lead">Postre</h3> 
    <div id="nomAp" class="col-md-20 mx-auto mt-2">
        <div class="card-body d-flex justify-content-around">
          <div class="form-group">
          <p>Tarta de hojaldre con nutela</p>
          <p>Empiñonat</p>
          <p>Sobete de mojito</p>  
          </div>

          <div class="form-group">
              <p>5.75 Bs</p>
              <p>5.75 Bs</p>
              <p>5.75 Bs</p> 
          </div>
        </div>
    </div>

    <h3 class="lead">Postre</h3> 
    <div id="nomAp" class="col-md-20 mx-auto mt-2">
        <div class="card-body d-flex justify-content-around">
          <div class="form-group">
          <p>Chops de Cerveza</p>
          <p>Botella de champán</p>
          <p>Botella de vino</p>  
          <p>Botella de agua mineral</p>
          <p>Café</p>
          </div>

          <div class="form-group">
              <p>15 Bs</p>
              <p>10.5 Bs</p>
              <p>12 Bs</p>
              <p>3 Bs</p>
              <p>2.5 Bs</p>
          </div>
        </div>
    </div>

  </div>
